*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container .page .img img{
    position: relative;
width: 1330px;
height: 280px;
left: 10px;
top: 5px;
}
.container .page1 {
    display: flex;
    gap: 30px;
 position: relative;
    padding-left: 40px;
}
.container .page1 .img img{
    position: relative;
    height:300px;
    top: 20px;
border-radius: 200px;
width: 300px;}
.container .page2 img{
position: relative;
width: 1350px;
top: 30px;
height: 300px;
}
.container footer {
    border: 1px solid black;
    position: relative;
    border: none;
    top: 50px;
    background-color: rgb(243, 243, 243);
    height: 200px;
}

.container footer p {

    position: relative;
    color: black;
    font-size: 20px;
    right: 40px;
    padding: 30px 300px 0px 440px;
}

body{
    background-color:white;
}
.container footer i {
    color: black;
    position: relative;
    left: 550px;
    padding-left: 10px;
    top: 20px;
    font-size: 35px;
}

.container footer .helo {
    border-bottom: 1px solid grey;
    position: relative;


}

.container footer .helo p {

    position: relative;
    top: 30px;
    text-align: center;
}